
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Html.ActionLink("Cd", "ShowCd")
    </div>
    <div>
        @Html.ActionLink("Pd", "ShowPd")
    </div>
    <div>
        @Html.ActionLink("Zn", "ShowZn")
    </div>
    <div>
        @Html.ActionLink("As", "ShowAs")
    </div>
    <div>
        @Html.ActionLink("Cu", "ShowCu")
    </div>
    <div>
        @Html.ActionLink("Cr", "ShowCr")
    </div>
</body>
</html>
